*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
  background: #EDE7CF;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  }
  
  .main-content {
  position: relative;
  display: grid;
  grid-template-columns: 300px 700px;
  width: 90%;
  max-width: 674px;
  min-height: 1000px;
  margin: 50px;
  margin-left: -20%;
  }
  
  .main-content .left-section {
  grid-column: span 1;
  position: relative;
  background: #1eb3b9;
  }
  
  .main-content .right-section {
  grid-column: span 1 / span 2;
  position: relative;
  background: #d7cfdb;
  }
  
  .profile-image {
  padding: 1rem;
  display: block;
  margin: auto;
  width: 350px;
  height: 300px;
  }
  
  .profile-image img{
  width: 60%;
  height: 80%;
  border: 5px solid rgb(16, 5, 5);
  border-radius: 51%;
  margin-left: 30px;
  }
  
  .name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02px;
  padding: 0.8rem;
  }
  
  .designation {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  }
  
  .description {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
  }
  
  .contact-item .icon {
  text-align: center;
  margin-left: 1.5rem;
  padding: 0.75rem;
  }
  
  .contact-item ul {
  margin-top: 0.5rem;
  }
  
  .contact-item ul li {
  position: relative;
  list-style: none;
  padding: 0.2rem;
  }
  
  .contact-item ul li .icon-1 {
    color: #064635;
    display: inline-block;
    width: 30px;
    font-size: 18px;
    margin-left: 0.5rem;
  }
  
  .skill-section ul li {
  list-style: none;
  }
  
  .skills {
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  }
  
  .skill-name {
  font-size: 0.65rem;
  font-weight: 0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
  }
  
  .progress-bar {
  height: 4px;
  border: 1px white solid;
  display: block;
  margin: 5px;
  }
  
  .progress-bar div {
  height: 100%;
  background: #064635;
  }
  
  .right-main-content {
  padding: 2rem 3rem;
  }
  
  .right-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
  }
  
  .right-main-content p{
  padding: 0.5rem;
  padding-bottom: 15px;
  }
  
  .education {
  display: flex;
  flex-direction: row;
  }
  
  .education h4 {
  padding: 0.5rem;
  }
  
  .experience {
  display: flex;
  flex-direction: row;
  }
  
  .experience h4 {
  padding: 0.5rem;
  }
  
  .year h5 {
  margin-left: 8px;
  }
  
  @media only screen and (max-width: 673px) {
  .main-content {
    width: 90%;
    min-height: 1000px;
    grid-template-columns:repeat(1, 1fr);
  }
  }